body {
  width: 100%;
  margin: auto;
}

.bg-light {
  background-color: #495057;
}

.btn-outline-success {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.btn-outline-success:hover {
  background-color: orangered;
  border-color: orangered;
}

.carousel-caption {
  bottom: 40%;
}

h5 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

.modal-background {
  z-index: 99;
  max-width: 100%;
  width: 90%;
  min-height: 300px;
  height: 90vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  z-index: 99;
  width: 70%;
  position: absolute;
  top: 25%;
  left: 25%;
}

.form-control {
  width: 200px;
}

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
}